# General
.env
.env.backup
.env.production
.env.testing
.phpunit.result.cache
npm-debug.log
yarn-error.log
*.swp
*.swo

# Laravel specific
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
Homestead.json
Homestead.yaml

# Docker specific
docker/app/php/local.ini

# PHPUnit
/.phpunit.cache

# IDE and editor specific
/.fleet
/.idea
/.vscode
*.sublime*
